.header{
    background-color: #1A4461;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 80px;
    width: 80px;
}

.header-title{
    margin-top: 0;
    margin-bottom: 0;
}

.right-section{
    display: flex;
    position: absolute;
    right: 0px;
    padding-right: 30px;
}

.reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: opacity .8s;
}

.reset-container:hover{
    opacity: .70;
}

.reset-container:active{
    opacity: .5;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: opacity .8s;
}

.home-container:hover{
    opacity: .70;
}

.home-container:active{
    opacity: .5;
}

.reset, .home{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.reset-logo, .home-logo{
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.reset-container{
    margin-right: 20px;
}


@media (max-width: 600px) { 
    .header-title{
        display: none;
    }
}