body{
    background-color: #1A4461;
    color: white;
    font-family: Roboto;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
}

.logo{
    height: 250px;
    width: 250px;
}

.story{
    margin-top: 40px;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 20px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button{
    padding: 20px 50px 20px 50px;
    color: #1A4461;
    font-size: 30px;
    width: 180px;
    font-weight: bold;
    border: 1px solid #1A4461;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    transition: opacity .4s;
}

.play-button:hover{
    opacity: .70;
}

.play-button:active{
    background-color: #1A4461;
    color: white;
    border: 1px solid white;
}